@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradientMove 6s ease infinite;
}

/* Fade in from bottom */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease forwards;
}

/* Floating mouse */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

/* Scroll wheel movement */
@keyframes scrollMove {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}

.animate-scroll {
  animation: scrollMove 1.5s infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.marquee-wrapper:hover .animate-marquee {
  animation-play-state: paused;
}


@keyframes twinkle {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

@keyframes twinkleSlow {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}

.animate-twinkle {
  animation: twinkle 3s ease-in-out infinite;
}

.animate-twinkle-slow {
  animation: twinkleSlow 5s ease-in-out infinite;
}

/* Shooting star */
.shooting-star {
  position: absolute;
  top: 15%;
  left: -10%;
  width: 120px;
  height: 2px;
  background: linear-gradient(90deg, white, transparent);
  opacity: 0.7;
  transform: rotate(25deg);
  animation: shoot 7s linear infinite;
}

.delay-2000 {
  animation-delay: 2s;
}

@keyframes shoot {
  0% {
    transform: translateX(0) translateY(0) rotate(25deg);
    opacity: 0;
  }
  10% { opacity: 1; }
  100% {
    transform: translateX(120vw) translateY(50vh) rotate(25deg);
    opacity: 0;
  }
}